body, html {
	margin: 0;
	padding: 0;
}
h1, p{
	text-align: center;
}
/*.border{
	border:3px solid black;
}*/
.dimensiones{
	height: 50px;
	width: 150px;
}
.amarillo{
	background-color: yellow;
}
.rosa{
	background-color: #eb234e;
}
.amarillo2{
	background-color: yellow;
	text-transform: uppercase;
}
/*ejercicio2*/
.ejercicio2{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.center2{
	height: 50px;
	width: 150px;
	margin: 5px;
}
/*ejercicio3*/
.ejercicio3 > div {
	display: inline;
	text-align: center;
}
/*Ejercicio 4*/
div.block{
	display: inline-block;
}
